<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

      <!-- Title -->
      <p class="navbar-brand fs-3 fw-bold ">My Store</p>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <!-- Home  added {exact: true} to prevent multiple active links -->
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link fs-3 fw-bold " routerLink="/" >Home</a>
          </li>

          <!-- Login -->
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link fs-3 fw-bold " routerLink="/login" routerLinkActive="active_link" >Login</a>
          </li>

          <!-- Register -->
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link fs-3 fw-bold " routerLink="/register" routerLinkActive="active_link">Register</a>
          </li>
        </ul>

        <form class="d-flex align-items-center  justify-content-around  ">

          <!-- Shopping cart icon -->
          <div class=" border-1 rounded-5 notification fw-bold ">{{cartCount}}</div>
          <i class="fa fas fa-shopping-cart fs-2 mx-3 " (click)="ReirectToShoppingCart()"></i>
          
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

      </div>
    </div>
  </nav>