
<div class="hero position-relative text-center">
    <img class="d-block" [src]="imag" srcset="">
    <h1 class="position-absolute text-white">My Name is {{Myname}}</h1>
    <h2 class="position-absolute text-white">Web Developer & Designer</h2>

</div>




















<!-- Test -->
<!-- <p class="fs-1 bg-primary">header works!</p> 
     Sting interpolation
<p>My Name is {{name}}</p>

 property binding  
<p class="" [id]="name"></p>

 Event binding
<button (click)="myAlert('Omar')">my btn</button> -->