<div class="row d-flex bg-body-secondary p-5  ">
  <!-- Profiles  -->
  <div class="col-4 text-center ">

    <h1 class="text-black">Get In Touch</h1>

    <i class="fas fab fab fab fa-linkedin fs-3"></i>
    <a class="d-block " href="#">LinkedIn</a>

    <i class="fas fab fab fab fa-google fs-3"></i>
    <a class="d-block " href="#">Gmail</a>
  </div>

  <!-- Contact Us  -->
  <div class="col-4 text-center">
    <button class="btn btn-dark fw-bolder mt-5 ">Conatact Me</button>
  </div>

  <!-- Social Media  -->
  <div class="col-4 text-center ">

    <i class="fas fab fa-facebook fs-3"></i>
    <a class="d-block ">Facebook</a>

    <i class="fas fab fab fa-twitter fs-3"></i>
    <a class="d-block ">X</a>

    <i class="fas fab fab fab fa-instagram fs-3"></i>
    <a class="d-block ">Instagram</a>
  </div>
</div>
