<div class="row d-flex bg-body-secondary p-5  ">
  <!-- Profiles  -->
  <div class="col-4 text-center ">
    <h1 class="text-black">Get In Touch</h1>
    <p class="d-block ">LinkedIn</p>
    <p class="d-block ">Gmail</p>
  </div>

  <!-- Contact Us  -->
  <div class="col-4 text-center">
    <button class="btn btn-dark fw-bolder mt-5 ">Conatact Me</button>
  </div>

  <!-- Social Media  -->
  <div class="col-4 ">
    <p class="d-block">Facebook</p>
    <p class="d-block">X</p>
    <p class="d-block">Instagram</p>
    <!-- <fa-icon [icon]="coffeeIcon"></fa-icon> -->
  </div>
</div>
