<div class="row p-5">

    <h1 class="text-center fw-bold ">Portofolio</h1>

    <div class="col-4 card text-center fs-3">Example accordion 
        <p>Lorem ipsum dolor sit amet.</p>
    </div>

    <div class="col-4 card text-center fs-3 ">Example 
        <p>Lorem ipsum dolor sit amet.</p>
    </div>

    <div class="col-4 card text-center fs-3 ">Example 
        <p>Lorem ipsum dolor sit amet.</p>
    </div>

    <div class="col-4 card text-center fs-3 ">Example 
        <p>Lorem ipsum dolor sit amet.</p>
    </div>

    <div class="col-4 card text-center fs-3 ">Example 
        <p>Lorem ipsum dolor sit amet.</p>
    </div>

    <div class="col-4 card text-center fs-3 ">Example 
        <p>Lorem ipsum dolor sit amet.</p>
    </div>

</div>